PEXELS_API_KEY=your_pexels_api_key_here
LOG_LEVEL=info
PORT=3123
DATA_DIR_PATH=/app/data
DOCKER=true
DEV=false
WHISPER_MODEL=tiny.en
KOKORO_MODEL_PRECISION=q4
CONCURRENCY=1
VIDEO_CACHE_SIZE_IN_BYTES=2097152000
WHISPER_VERBOSE=false
